# This files defines code ownership.

* @renejeglinsky @smahati

.github/ @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json