/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
  // add Avenir Next first
  --vp-font-family-base: 'Avenir Next', 'Inter var', 'Inter', ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --vp-c-brand-1: #db8b0b;
  --vp-c-brand-2: #db8b0b;
  --vp-c-brand-3: #db8b0b;
  --vp-c-brand-soft: rgba(219, 139, 11, 0.16); // where is that used?

  // --vp-c-brand: #db8b0b;
  // --vp-c-brand-dark: #9f660a;
  --vp-button-brand-border: #efbc6b;
  --vp-button-brand-hover-bg: #c37d0b;
  --vp-button-brand-hover-border: #f3b655;
  // --vp-button-brand-active-bg: #9f660a;
  // --vp-button-brand-active-border: #f3b655;

  // use the standard search highlight color (instead of our brand orange)
  --vp-local-search-highlight-bg: mark;
  --vp-local-search-highlight-text: black;

  --vp-sidebar-width: 290px;

  /* inverts image colors in dark mode */
  &.dark {
    /* brightness fine-tuned to turn #fff into --vp-c-bg */
    img, svg.adapt-dark { filter: brightness(.884) invert(1) hue-rotate(177deg) }
    .VPHome img, .avatar-img, img.ignore-dark { filter:none }
    img.mute-dark { filter:brightness(0.6) }
  }
}

main {

  // Headings
  .vp-doc {
    h1, .h1 { font-size: 48px; margin: 1em 0 1em; font-weight: 400; line-height: 1.2em }
    h2, .h2 { font-size: 24px; margin: 4em 0 2em; padding-top: 12px; }
    h3, .h3 { font-size: 20px; margin: 3em 0 1em; }
    h4, .h4 { font-size: 17px; margin: 2em 0 1em; }
    h1 + .subtitle {
      margin: -40px 0 48px;
      font-size: 1.7em;
      font-weight: 400;
    }
    p + h1 {
      margin-top: 3em
    }
    .header-anchor {
      top: auto // undo the hard-wired 24px of vitepress
    }
    p {
      line-height: 1.5em
    }
    ul, ol {
      padding-left: 2.5em;
    }
    .caption {
      text-align: center;
      color: #888;
    }
    div.language-zsh pre code {
      line-height: 1.4em
    }
    pre {
      padding: 12px 0 !important;
      code { padding: 0 22px !important }
    }
    :not(pre) > code {
      font-style: italic;
      font-size: 90%;
      color: unset; // revert the c-brand-1 from default theme
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    // Fix for copy button position
    [class*='language-'] > button.copy {
      top: 4px;
    }

    pre.log {
      font-size: var(--vp-code-font-size);
      line-height: 1.4em;
      font-style: italic;
      padding: 20px !important;
      border-radius: 8px;
      overflow: hidden;
      span {
        &.cmd {
          color: #FFCB6B;
        }
        &.flags {
          color: #C3E88D;
        }
        &.cwd {
          color: #777;
        }
        &.livereload {
          color: #FDEC87
        }
      }
      em {
        color: #00ab00e0;
      }
      b {
        color: #ee0000e0;
      }
      i {
        color: grey;
      }

      background: var(--vp-code-block-bg);
    }

    .line-numbers-wrapper {
      padding-top: 13px; // align with code line height
    }
  }

  // Table of Contents
  nav.table-of-contents {
    line-height: 150%;
    margin: 44px;
    &::before {
      content: 'Table of Contents';
      font-size: 111%;
      font-weight: 500;
    }
    ul ul {
      padding: 7px 22px;
      li {
        list-style-type: circle;
        font-size: 95%;
        line-height: 120%;
      }
    }
  }

  // Custom Blocks
  .custom-block {
    font-size: 95%;
    border-width: 0 0 0 7px;
    border-radius: 14px;
    &.tip {
      &, & code, & a { color: #041 };
      background-color: #dfe;
      border-color: #096;
      .dark & {
        &, & code, & a { color: #ced; }
        background-color: #021;
      }
    }
    &.warning {
      &, & code, & a { color: #960; }
      background-color: #fff7f0;
      border-color: #ea0;
      .dark & {
        &, & code, & a { color: #ea0; }
        background-color: #210;
      }
    }
    &.danger {
      &, & code, & a { color: #600; }
      background-color: #fee;
      border-color: #900;
      .dark & {
        &, & code, & a { color: #fcc; }
        background-color: #300;
      }
    }
    a {
      font-weight: inherit !important;
      text-decoration-style: dotted;
      text-decoration: underline;
    }
  }

  // Details Blocks
  details.custom-block.details {
    padding: 11px 14px 1px;
    .dark & {
      background-color: #222;
    }
    summary {
      font-weight: 500;
      font-style: italic;
      a { color: darkcyan }
    }
    &[open] {
      padding: 11px 14px 11px;
    }
  }

  img:not(.avatar-img) {
    margin: 30px auto;
  }

  .good { color:teal }
  .bad, .important { color:darkred }; .dark & { .bad, .important { color:#e00 } }
  .constructor::before { content: 'Constructor: '; color: #999 }
  .annotation::before { content: 'Annotation: '; color: #999 }
  .property::before { content: 'Property: '; color: #999 }
  .method::before { content: 'Method: '; color: #999 }
  .event::before { content: 'Event: '; color: #999 }
  .class::before { content: 'Class: '; color: #999 }
  .async-method::before { content: 'Method: async '; color: #999 }
  h3.event, h3.method, h3.async-method {
    margin-top: 5em;
    // font-size: 22px;
  }
  h4.annotation + h4.annotation,
  h4.property + h4.property,
  h4.event + h4.event,
  h4.method + h4.method,
  h3.annotation + h3.annotation,
  h3.property + h3.property,
  h3.event + h3.event,
  h3.class + h3.class,
  h3.method + h3.method {
    margin-top: 0
  }

}

// Menu Sidebar
aside.VPSidebar {
  .group {
    padding-top: 5px !important;
    .VPSidebarItem {
      &.level-0 {
        padding-bottom: 11px;
        &.collapsed {
          padding-bottom: 1px;
        }
        .text {
          font-weight: 500;
        }
      }
      &.level-1 {
        padding-left: 15px;
        h2, h3, p {
          padding: 2px 0;
        }
      }
      .caret { height: inherit; }
    }
  }
}

// "On this page" Outlines
div.aside nav {
  .outline-link {
    font-weight: inherit;
  };
  ul {
    font-size: 15px !important;
    ul.nested {
      font-size: 95% !important;
      padding: 0 0 0 20px;
      li a {
        line-height: 1.9em !important;
      }
    }
  }
}

// Hide empty table headers
tr:has(> th:empty:first-child:last-child),
tr:has(> th:empty:first-child:not(:last-child) + th:empty:last-child) {
  display: none;
}

kbd {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  line-height: 10px;
  vertical-align: middle;
  border: 1px solid var(--vp-c-divider);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--vp-c-divider);
  position: relative;
  top: -1px;
  background: #f3f3f3;
  .dark & { background: #222 }
}

.learn-more {
  &, & a { color: #999 !important; .dark & { color: #777 !important }};
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 5px;
  display: block;
}

.learn-more::before {
  content: url('/images/learn-more.svg');
  vertical-align: middle;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

/* remove transparency in the odd rows (when it scrolls over outline) */
tr:nth-child(odd) {
  background-color: var(--vp-c-bg);
}

html.java .node {
  display: none;
}
html.node .java {
  display: none;
}


/* expand width on big screens */
@media screen and (min-width: 1600px) {
  div[class*='language-']:hover,
  div[class*='language-']:focus,
  pre.log:hover,
  pre.log:focus {
    min-width: fit-content;
    padding-right: 40px;
    z-index: 1;  // draw over outline
  }
  table:hover,
  table:focus {
    min-width: fit-content;
  }
  [class*='language-'] pre {
    overflow: hidden !important;
  }
  // expand navbar to cover wide content (see java/development/properties)
  .content-body {
    min-width: 1164px;
  }
}
