/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
  // add Avenir Next first
  --vp-font-family-base: 'Avenir Next', 'Inter var', 'Inter', ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-c-brand: #db8b0b;
  --vp-button-brand-border: #efbc6b;
  --vp-button-brand-hover-bg: #c37d0b;
  --vp-button-brand-hover-border: #f3b655;
  --vp-button-brand-active-bg: #9f660a;
  --vp-button-brand-active-border: #f3b655;

  // --vp-c-brand: #039;
  // --vp-c-brand-light: #003399dd;
  // --vp-c-brand-dark: #0092d1;


  --vp-sidebar-width: 290px;

  // unset the intense --vp-c-green-lighter color to the default yellow marker color
  --vp-local-search-highlight-bg: mark;

  /* inverts image colors in dark mode */
  &.dark {
    img { filter: brightness(.9) invert(1) hue-rotate(177deg) }
    .VPHome img, .avatar img, img.ignore-dark { filter:none }
    img.mute-dark { filter:brightness(0.6) }
  }
}

main {

  // Headings
  .vp-doc {
    h1, .h1 { font-size: 48px; margin: 1em 0 1em; font-weight: 400; line-height: 1.2em }
    h2, .h2 { font-size: 24px; margin: 4em 0 2em; padding-top: 12px; }
    h3, .h3 { font-size: 20px; margin: 3em 0 1em; }
    h4, .h4 { font-size: 17px; margin: 2em 0 1em; }
    h1 + .subtitle {
      margin: -40px 0 48px;
      font-size: 1.7em;
      font-weight: 400;
    }
    p + h1 {
      margin-top: 3em
    }
    p {
      line-height: 1.5em
    }
    ul {
      padding-left: 2.2em;
    }
    div.language-zsh pre code {
        line-height: 1.4em
    }
    :not(pre) > code {
      font-style: italic;
      font-size: 90%;
    }

    .custom-block code {
      font-weight: 600; // default is 700 which looks too fat
    }

  }

  // Table of Contents
  nav.table-of-contents {
    line-height: 150%;
    margin: 44px;
    &::before {
      content: 'Table of Contents';
      font-size: 111%;
      font-weight: 500;
    }
    ul ul {
      padding: 7px 22px;
      li {
        list-style-type: circle;
        font-size: 95%;
        line-height: 120%;
        font-weight: 200 !important;
      }
    }
  }

  // Custom Blocks
  .custom-block {
    font-size: 95%;
    border-width: 0 0 0 7px;
    border-radius: 14px;
    &.tip {
      border-color: #096;
      background-color: #dfe; color: #041;
      .dark & {
        background-color: #021; color: #ced;
      }
    }
    &.warning {
      border-color: #ea0;
      background-color: #fff7f0; color: #960;
      .dark & {
        background-color: #210; color: #ea0;
      }
    }
    &.danger {
      border-color: #900;
      background-color: #fee; color: #600;
      .dark & {
        background-color: #300; color: #fcc;
      }
    }
    a {
      font-weight: inherit !important;
      text-decoration-style: dotted;
      text-decoration: underline;
    }
  }

  // Details Blocks
  details.custom-block.details {
    padding: 11px 14px 1px;
    .dark & {
      background-color: #222;
    }
    summary {
      font-weight: 500;
      font-style: italic;
      a { color: darkcyan }
    }
  }

  img.center {
    margin: auto;
    display: block;
  }

  .good { color:teal }
  .bad, .important { color:darkred }; .dark & { .bad, .important { color:#d02626 } }
  .constructor::before { content: 'Constructor: '; color: grey }
  .property::before { content: 'Property: '; color: grey }
  .method::before { content: 'Method: '; color: grey }
  .event::before { content: 'Event: '; color: grey }
  .class::before { content: 'Class: '; color: grey }
  .async-method::before { content: 'Method: async '; color: grey }
  h3.event, h3.method, h3.async-method {
    margin-top: 5em;
    // font-size: 22px;
  }
  h4.property + h4.property,
  h4.event + h4.event,
  h4.method + h4.method,
  h3.property + h3.property,
  h3.event + h3.event,
  h3.class + h3.class,
  h3.method + h3.method {
    margin-top: 0
  }
}

// Menu Sidebar
aside.VPSidebar {
  .group { padding-top: 5px !important;
    .VPSidebarItem.level-0 {
      padding-bottom: 5px;
      .collapsed {
        padding-bottom: 5px;
      }
      .VPSidebarItem.level-1 {
        padding-bottom: 0;
      }
    }
  }
}

// "On this page" Outlines
div.aside nav {
  ul {
    font-size: 15px !important;
    ul.nested {
      font-size: 95% !important;
      padding: 7px 0 7px 20px;
      li a {
        line-height: 2em !important;
      }
    }
  }
}

// Hide empty table headers
tr:has(> th:empty:first-child:last-child),
tr:has(> th:empty:first-child:not(:last-child) + th:empty:last-child) {
  display: none;
}

kbd {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  line-height: 10px;
  vertical-align: middle;
  border: 1px solid var(--vp-c-divider);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--vp-c-divider);
  position: relative;
  top: -1px;
}

.learn-more {
  color: var(--vp-c-gray);
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 5px;
  display: block;
}

.learn-more::before {
  content: url('/images/learn-more.svg');
  vertical-align: middle;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

pre.log {
  font-size: var(--vp-code-font-size);
  line-height: var(--vp-code-line-height);
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
  span {
    &.cmd {
      color: #FFCB6B;
    }
    &.flags {
      color: #C3E88D;
    }
    &.cwd {
      color: #777;
    }
    &.livereload {
      color: #FDEC87
    }
  }
  em {
    color: #00ff00e0;
  }
  b {
    color: #ee0000e0;
  }
  i {
    color: grey;
  }

  background: var(--vp-code-block-bg);
  color: #fafafa;
}

/* remove transparency in the odd rows (when it scrolls over outline) */
tr:nth-child(odd) {
  background-color: var(--vp-c-bg);
}


// enable for light code theme
// pre.log {
//   background: #f8f8f8; // matches to light theme
//   color: #032F62; // matches to light theme
//   em {
//     color: #db8b0b;
//   }
//   :root.dark & {
//     background: var(--vp-code-block-bg);
//     color: #fafafa;
//   }
// }

/* expand width on big screens */
@media screen and (min-width: 1600px) {
  table:hover,
  table:focus,
  div[class^='language-']:hover,
  div[class^='language-']:focus,
  pre.log:hover,
  pre.log:focus {
    min-width: fit-content;
  }
}
