/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
  --vp-c-brand: #039;
  --vp-c-brand-light: #003399dd;
  --vp-c-brand-dark: #0092d1;

  --vp-font-family-base: Avenir, 'Inter var', 'Inter', ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Helvetica, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.dark {
  --vp-c-brand: #0092d1;
}

kbd {
  font-size: 13px;
  display: inline-block;
  padding: 5px;
  line-height: 11px;
  vertical-align: middle;
  border: 1px solid var(--vp-button-alt-border);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--vp-button-alt-border);
  position: relative;
  top: -1px;
}

a.learn-more {
  color: var(--vp-c-gray);
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 5px;
  display: block;
}

a.learn-more::before {
  content: url('/images/learn-more.svg');
  vertical-align: middle;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

.subtitle {
  margin: -3.3em 0 2em;
  font-size: 1.7em;
  font-weight: 100;
}

/* inverts image colors in dark mode */
:root.dark img.adapt {
  filter: brightness(.9) invert(1) hue-rotate(177deg)
}

pre.log {
  background: black;
  font-style: italic;
  font-size: smaller;
  line-height: 1.3em;
  color: #00ffffe0;
  padding: 20px 25px;
  border-radius: 14px;
  overflow: auto;
}

pre.log em {
  color: #00ff00e0;
}
pre.log b {
  color: #ee0000e0;
}
pre.log i {
  color: grey;
}
/* expand width on big screens */
@media screen and (min-width: 1600px) {
  pre.log:hover,
  pre.log:focus {
    min-width: fit-content;
  }
}
