name: PR Parent

on:
  pull_request:
    branches: [main]

concurrency:
  group: pr-parent-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout parent repo
        run: |
          git config --global credential.helper "cache --timeout=3600"
          echo -e "url=https://user:${GH_TOKEN}@github.com\n" | git credential approve
          echo -e "url=https://user:${GH_TOKEN_PARENT}@github.tools.sap\n" | git credential approve
          git clone --depth=1 https://github.tools.sap/cap/docs-vue-internal docs
          cd docs && git submodule update --init --recursive
          cd @external && git checkout $GITHUB_HEAD_REF
        env:
          GH_TOKEN:        ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN_PARENT: ${{ secrets.GH_TOKEN_PARENT }}
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: docs/package-lock.json
      - run: npm ci
        working-directory: docs
      - run: npm test
        working-directory: docs
      - run: npm run docs:build
        working-directory: docs
