name: PR Build

on:
  pull_request:
  merge_group:

concurrency:
  group: pr-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Run CDS snippet checker
        run: |
          cd .github/cds-snippet-checker
          npm install
          npm run check
      - name: Run Java snippet checker
        run: |
          cd .github/java-snippet-checker
          npm install
          npm run check
      - run: npm ci
      - run: npm test
      - run: npm run docs:build
      - run: npm run lint
